@using MeuSitemMVC.Enums;
@model UsuarioModel

@{
    ViewData["Title"] = "Create new user";
}

<div class="text-center">
    <h1 class="display-4">Register new user</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<form asp-controller="Usuario" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Username">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="contact@gmail.com">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="=0">Select</option>
            <option value="=@PerfilEnum.Admin">Administrator</option>
            <option value="=@PerfilEnum.Padrao">Default</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="text" asp-for="Senha" class="form-control" placeholder="password">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <br/>

    <button type="submit" class="btn btn-primary btn-block" role="button">Register</button>
    <a class="btn btn-secondary btn-block" role="button" asp-controller="Usuario" asp-action="Index">Back</a>
</form>

<script type="text/javascript">
    //Cria uma máscara para o campo celular
    $('#Celular').mask('(99) 99999-9999');
</script>
 

