* {
    font-size: 14px;
    overflow-x: hidden;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --hue1: 258;
    --var-principal-color: hsl(var(--hue1) 24% 14%);
    --letter-higher: 20px;
    --nav-spacemente: 10px;
    --border-radius-nav: 20px;
    --font-weight: 800;
}

body {
    background: var(--var-principal-color);
}

.container{
    padding:0 10px;
}

a{
    text-decoration:none;
    color:white;
    font-size:var(--letter-higher);
}

/*---- Navigation bar ----*/

#nav {
    display: grid;
    grid-row: auto;
    align-content: center;
    height: 5vw;
    
}

nav ul:last-child {
    display: flex;
    float: right;

}

nav ul:first-child {
    display: flex;
    float: left;
}

nav ul:last-child li a {
    background: white;
    margin: 0 5px;
    padding: var(--nav-spacemente) var(--nav-spacemente);
    color: var(--var-principal-color);
    font-weight: var(--font-weight);
    box-shadow: inset 0px 0px 0px white;
}

nav ul:last-child li a:hover {
    background: none;
    box-shadow: inset 0px -2px 0px white;
    color: white;
}

nav ul:last-child li:first-child a {
    border-radius: var(--border-radius-nav) 0px 0px var(--border-radius-nav);
}

nav ul:last-child li:last-child a {
    border-radius: 0px var(--border-radius-nav) var(--border-radius-nav) 0px;
}

nav ul:last-child li {
    padding: var(--nav-spacemente) 0px;
}

nav ul:first-child li a {
    margin: 0 2px;
    padding: var(--nav-spacemente) var(--nav-spacemente);
    text-transform: uppercase;
    font-weight: var(--font-weight);
    transition:0.5s;
}

nav ul:first-child li a:hover {
    border-radius: var(--border-radius-nav);
    box-shadow: inset 0px 0px 5px 1px #00FF88;
}

nav ul:first-child li {
    margin: 0 var(--nav-spacemente);
    padding: var(--nav-spacemente) var(--nav-spacemente);
}

/*---- end of Navigation bar ----*/


.field-validation-error{
    color: #e01d1d;
}

.close-alert{
    position:absolute;
    right: -10px;
    top:-15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .left-login > h1 {
        font-size: 3vw;
        color: #77ffc0;
    }

.left-login-img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

    .card-login > h1 {
        color: #00ff88;
        font-weight: var(--font-weight);
        margin: 0;
    }

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

    .textfield > input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background: #514869;
        color: #f0ffffde;
        font-size: 12pt;
        box-shadow: 0px 10px 40px #00000056;
        outline: none;
        box-sizing: border-box;
    }

    .textfield > label {
        color: #f0ffffde;
        margin-bottom: 10px;
    }

    .textfield > input::placeholder {
        color: #f0ffff94;
    }

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: var(--font-weight);
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 950px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vh;
    }

    .card-login {
        width: 90%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
